
/* contactus2*/

*
{
    margin:0;
    padding:0;
    font-family: "montserrat",sans-serif;

}

.tharsh{
    background-color: #214798;
}

.contact_section
{
    background-size:cover;
    padding:40px 0;
}
.contact_section h1
{
    text-align: center;
    color:#105bbea3;
}
.tborder
{
    width:100px;
    height:10px;
    background:#1e134e;
    margin: 40px auto;
}
.contact-form
{
    max-width:600px;
    margin:auto;
    padding:0 10px;
    overflow:hidden;
}
.contact-form-text
{
    display:block;
    width:100%;
    box-sizing: border-box;
    margin:16px 0;
    background:#5a6067;
    padding:20px 40px;
    outline:rgb(63, 67, 67);
    transition: 0.5s;

}
.contact-form-text:focus
{
    box-shadow: 0 0 10px 4px #34495e;
    color:rgb(239, 244, 238);
}
textarea.contact-form-text
{
    resize:none;
    height:120px;

}
.contact-form-btn
{
    float:right;
    border:0;
    background: #202122;
    color:#fff;
    padding:12px 50px;
    border-radius:20px;
    cursor:pointer;
    transition: 0.5s;
    height: 50px;
}

.contact-form-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.contact-form-btn:hover
{
    background:#127dc5;
}



.padding{
    padding-left: 90px;
}

































/* contactus2*/

*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}
.body{
    margin:0;
    padding:0;
}


section{
    padding: 10rem 0;
    
}

.heading{
    text-decoration: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: rgb(36, 39, 39);
    position: relative;
}

.heading::after{
    content: "";
    width: 20rem;
    height: .8rem;
    background-color: #5e8a74;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}



.card1{
     display: flex;
     align-items: center;
     align-content: center;
     padding-left: 10px;
     position: absolute;
}

.card2{
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 340px;
    position: absolute;   
}

.card3{
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 670px;
    position: absolute;
}

.card4{
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 1000px;
    position: absolute;
}

.card{
    width: 30rem;
    background-color: #b3b79a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0,2);
}

.card .card-img{
    width: 100%;
    height: 26rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #010610;
}
 
.card h1{
    font-size: 2.5rem;
    color:rgb(1, 2, 18);
    margin: 1.5rem 0;
}

.job{
    color:#777;
    font-size:15px;
    font-weight: 300;
}

.about1{
    margin: 1.5rem 0;
    font-size: 20px;
}


    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

.card{
        margin: 2rem;
    }

html{
    font-size: 10px;
    font-family: "roboto",sans-serif;
}

#th2{
    font-size: 18px;
    align-items: center;
}



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}



body{
	background-color: white;
	margin: 0;
	display: grid;
   font-family: Arial;
   font-size: 17px;
}




















/* header*/
header{
	top: 0;
	left: 0;
	background:  #447c7c;
	width: 100%;
	box-sizing: border-box;
}

.logo{
	position: absolute;
	top: 0.0%;
	cursor: pointer;
	padding: 0 30px;
	
}

header nav {
	float: right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	font-family: 'optima', sans-serif;
}

header nav ul li {
	list-style: none;

}

header nav ul li a{
	font-size: 18px;
	height: 70px;
	line-height: 70px;
	padding: 0 15px;
	color: white;
	text-decoration: none;
	display: block;
	
	
}

header nav ul li a:hover{
	color: #192541;
	background: white ;
	
}

.line{
	display: inline;
	margin: 0;
	padding: 0;
	display: flex;
	padding: 0 2rem;
	background-color: tomato;
}

.line :hover{
	background: none;
	color: white;
	font-size: 25px;
	transition: 0.7s;
}

















/*footer*/

.footer{
	width: 100%;
	background: #ffffff;
	display: block;
}

.inner-footer{
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items{
	width: 25%;
	padding: 30px 20px;
	box-sizing: border-box;
}

.head{
	padding: 10px 0;
	font-size: 25px;
	color: white;
	text-transform: uppercase;
}

.footer-items p{
	color: grey;
	font-size: 14px;
	text-align: justify;
	line-height: 25px;
	width: 280px;
}

.head{
	margin: 10px 0;
	color: grey;
	font-size: 18px;
	font-weight: lighter;
	text-transform: uppercase;
}

.border{
	height: 2px;
	width: 50px;
	background: #d6652c;
}

ul{
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}

ul a {
	text-decoration: none;
	outline: none;
	line-height: 20px;
	color: #192541;
	transition: 0.3s;
	font-family: 'Tahoma', sans-serif;
}

ul a:hover{
	color: #ff9800;
}

.footer-items ul li{
	margin: 10px 0;
	height: 25px;
}
 
.social a{
	height: 15px;
	width: 15px;
	margin: 40px 5px;
	padding: 3px;
}


.footer-bottom h1{
	color: #546488;
	font-size: 10px;
	padding-left: 37px;
	padding-top: 20px;
}

.contact{
	padding: 10px 0;
	line-height: 35px;
}

.contact img{
	height: 20px;
}

.contact span{
	position: absolute;
	padding-left: 5px;
	font-family: 'Tahoma', sans-serif;
	color: #192541;
}

@media screen and (max-width: 1085px){
	.footer-items{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.footer-items{
		width: 100%;
	}
}






















































































